# Database Configuration
DATABASE_URL=postgresql://ProstateHue26:Hue%402026%3B@localhost:5432/ProstateHue
SECRET_KEY=4f564b56ceabfd407734fa3272aea0c9c2617f77157ca995d53651f3ce6958fa
# Security


# SMS/Email API (Placeholders)
ZALO_ZNS_TOKEN=your_zalo_token
SENDGRID_API_KEY=your_sendgrid_key
TWILIO_SID=your_twilio_sid
TWILIO_AUTH_TOKEN=your_twilio_token
